<section class="F-C">
  <img src="../../assets/ApprenticeTips_logo.png" alt="">
</section>

<mat-toolbar color="primary" class="F-C">
  <span style="padding-right: 30px">
    <a routerLink="/jobs" routerLinkActive="active">Apprenticeships</a>
  </span>
  <span>
    <a href="https://www.apprenticetips.com/blog/" routerLinkActive="active">Latest</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a routerLink="/apply" routerLinkActive="active">Apply</a>
    </li>
    <li>
      <a routerLink="/search" routerLinkActive="active">Search</a>
    </li>
  </ul>
</mat-toolbar>

saihdiasdhosahdoih