/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Open Sans", sans-serif !important; 
}

.mat-h2, .mat-title, .mat-typography h2 {
    font: 500 20px/32px "Open Sans", sans-serif;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "Open Sans", sans-serif;
}

mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background: var(--color-blue) !important;
}

app-apply {
    max-width: 100%;
}

app-search {
    max-width: 100%;
}

input {
    border: solid 1px #d4d3d3;
    padding: 10px;
    transition: border 0.3s linear;
    background: #fff;
}

select {
    border: solid 1px #d4d3d3;
    padding: 10px;
    transition: border 0.3s linear;
    background: #fff;
}

textarea {
    font-family: "Open Sans", sans-serif;
}

html {
    // Colour variables
    --color-white: #fff;
    --color-black: #000;
    --colour-dark-gray: #222;
    --color-blue: #1E73BE;
    --color-background: #F4F4FD;
    --color-hover: #035a9e;
    --color-danger: red;
}

.F-C {
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 0 0px;
    flex-wrap: wrap;
}

.F-E {
    display: flex;
    align-items: center;
    justify-content: end !important;
    padding: 0 0px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    margin: 40px 20px;
    padding: 0 20px;
}

.container {
    background: var(--color-white);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    div {
        padding: 5px 0;
    }
}

label {
    color: var(--colour-dark-gray);
}

p {
    color: var(--colour-dark-gray);
}
