.container .btn {
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 200px;
}

p {
    margin: 0;
}

.interests {
  h2 {
    padding: 0 20px
  }
  background: var(--color-white);
    div:nth-child(even){
      background: lightgray;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
    }
}
