a {
    color: var( --color-white);
    text-decoration: none;
    font-weight: normal;
}

nav {
    background: var(--color-blue);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
}

.active {
    background: var(--color-hover);
}

.spacer {
    flex: 1 1 auto;
}

li {
    padding: 20px;
    list-style: none;
}

li:hover {
    background: var(--color-hover);
}
li {
    padding-right: 15px;
    list-style: none;
}

// dropdown
.dropdown {
    position: relative;
  }

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: var(--color-hover);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: 52px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
  }

  .dropdown-content a:hover {
    color: #bbd2e8;
}
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  