<section class="F-C">
  <img src="../../assets/ApprenticeTips_logo.png" alt="">
</section>

<nav color="primary" class="F-C">
  <span class="spacer"></span>
  <div class="dropdown">
    <ul>
      <a src="https://www.apprenticetips.com/category/apprenticeships-uk/"><li routerLinkActive="active" class="dropbtn F-C">Apprenticeships <span class="material-icons" style="font-size: 18px; padding-left: 10px;">
        expand_more
      </span></li></a>
    </ul>
    <div class="dropdown-content">
      <a src="https://www.apprenticetips.com/category/apprenticeships-uk/digital-industries-apprenticeships/">Digital Apprenticeships</a>
      <a src="https://www.apprenticetips.com/category/apprenticeships-uk/engineering-and-manufacturing-apprenticeships/">Engineering and manufacturing Apprenticeships</a>
    </div>
  </div>
  <ul>
    <li routerLinkActive="active"><a href="https://www.apprenticetips.com/blog/">Latest</a></li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <a routerLink="/apply"><li routerLinkActive="active">Apply</li></a>
    <a routerLink="/search"><li routerLinkActive="active">Search</li></a>
  </ul>
  <span class="spacer"></span>
</nav>
