a {
    color: var( --color-white);
    text-decoration: none;
    font-weight: normal;
}

body .grid-container {
    max-width: 1100px;
}

.inside-header {
    padding: 40px;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.site-logo {
    display: inline-block;
    max-width: 100%;
}

.site-logo .header-image {
    width: 750px;
    vertical-align: middle;
    border: 0;
    height: auto;
    max-width: 100%;
}


nav {
    background: var(--color-blue);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
}

.active {
    background: var(--color-hover);
}

.spacer {
    flex: 1 1 auto;
}

li {
    padding: 20px;
    list-style: none;
    cursor: pointer;
}


li:hover {
    background: var(--color-hover);
}
li {
    padding-right: 15px;
    list-style: none;
}


img {
    max-width: 100%;
}

// hover dropdown
.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    background: var(--color-hover);
    position: absolute;
    top: 56px;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: #fff;
    width: 150px;
    cursor: pointer;
  }

  .dropdown-content a:hover {
    color: #bbd2e8;
}
  
  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .layer { background: var(--color-hover); }

.burgerMenu {
    display: none;
}
