<section class="inside-header grid-container grid-parent">
  <div class="site-logo">
    <a routerLink="/"><img class="header-image" src="../../assets/ApprenticeTips_logo.png" alt="ApprenticeTips Logo"></a> 
  </div>
</section>


<div (click)="open()" class="burger">

  <span style="margin-bottom: 4px;">Menu </span>
  
</div>

<div class="nav">
<nav color="primary" class="F-C">
    <span class="spacer"></span>
    <div class="dropdown">
        <a href="https://www.apprenticetips.com/category/apprenticeships-uk/"><li class=" layer F-C F-Row">Apprenticeships <span class="material-icons" style="font-size: 18px; padding-left: 10px;">expand_more</span></li></a>
      <div class="dropdown-content">
        <a href="https://www.apprenticetips.com/category/apprenticeships-uk/digital-industries-apprenticeships/">Digital Apprenticeships</a>
        <a href="https://www.apprenticetips.com/category/apprenticeships-uk/engineering-and-manufacturing-apprenticeships/">Engineering and manufacturing Apprenticeships</a>
      </div>
    </div>
    <div class="burger-content F-C">
      <a href="https://www.apprenticetips.com/category/apprenticeships-uk/digital-industries-apprenticeships/">Digital Apprenticeships</a>
      <a href="https://www.apprenticetips.com/category/apprenticeships-uk/engineering-and-manufacturing-apprenticeships/">Engineering and manufacturing Apprenticeships</a>
    </div>
    <ul>
      <a href="https://www.apprenticetips.com/blog/"><li>Latest</li></a>
    </ul>
    <span class="spacer"></span>
    <ul>
      <a routerLink="/apply"><li routerLinkActive="active">Apply</li></a>
      <a routerLink="/search"><li routerLinkActive="active">Search</li></a>
    </ul>
    <span class="spacer"></span>

  </nav>
</div>


<div *ngIf="navOpen">
  <nav color="primary" class="F-C">
      <span class="spacer"></span>
      <div class="dropdown">
          <a href="https://www.apprenticetips.com/category/apprenticeships-uk/"><li class=" layer F-C F-Row">Apprenticeships</li></a>
      </div>
      <div class="burger-content F-C">
        <a href="https://www.apprenticetips.com/category/apprenticeships-uk/digital-industries-apprenticeships/">Digital Apprenticeships</a>
        <a href="https://www.apprenticetips.com/category/apprenticeships-uk/engineering-and-manufacturing-apprenticeships/">Engineering and manufacturing Apprenticeships</a>
      </div>
      <ul>
        <a href="https://www.apprenticetips.com/blog/"><li>Latest</li></a>
      </ul>
      <span class="spacer"></span>
      <ul>
        <a routerLink="/apply"><li routerLinkActive="active">Apply</li></a>
        <a routerLink="/search"><li routerLinkActive="active">Search</li></a>
      </ul>
      <span class="spacer"></span>  
    </nav>
  </div>