.title {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid p {
    margin: 0;
}

.grid li {
    padding: 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reset {
    background: none;
    border: none;
    cursor: pointer;
}

.find {
    width: 210px;
}

.result p {
    margin: 30px 0 0 0;
}

td {
    padding: 10px;
}

.title p{
    padding: 5px 10px;
    background: var(--color-blue);
    color: var(--color-white);
}

ul:nth-child(even){
  background: #dfebf4;
}

.my-pagination /deep/ .ngx-pagination .current {
    margin-top: 15px;
    background: var(--color-blue);
  }

.route div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 460px) {
    .container {
        width: 278px;
        padding: 30px 20px;
    }
    label {
        width: 100px;
    }
    select {
        width: 100%;
    }
    .btns {
        flex-direction: column-reverse;
    }
    .btns .find {
        margin: 20px 0;
    }
    .btns div {
        display: none;
    }
  }

  @media only screen and (max-width: 360px) {
    .container {
        width: 276px;
    }
  }