<div class="container">
<div>
  <h2>USe the fields below to find the apprenticeships</h2>
</div>

<div class="route">
  <div>
    <label>Route:</label>
    <select matNativeControl required>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <div>
    <label>Status:</label>
    <select matNativeControl required>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select matNativeControl required>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <div>
    <label>Duration:</label>
    <select matNativeControl required>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>

  <div>
    <button>Find Apprenticeships</button>
  </div>
</div>
</div>