<div class="container">
<div>
  <h2>Use the fields below to find the apprenticeships</h2>
</div>

<div class="route">
  <div>
    <label>Route:</label>
    <select matNativeControl required>
      <option value="agriculture">agriculture</option>
      <option value="business">business</option>
      <option value="care">care</option>
      <option value="catering">catering</option>
      <option value="construction">construction</option>
      <option value="creative">creative</option>
      <option value="digital">digital</option>
      <option value="education">education</option>
      <option value="engineering">engineering</option>
      <option value="hair">hair</option>
      <option value="health">health</option>
      <option value="legal">legal</option>
      <option value="protective">protective</option>
      <option value="sales">sales</option>
      <option value="transport">transport</option>          
    </select>
  </div>
  <div>
    <label>Status:</label>
    <select matNativeControl required>
      <option value="Development">In development</option>
      <option value="Approved">Approved for delivery</option>
      <option value="Proposal">Proposal in development</option>
      <option value="Withdrawn">Withdrawn</option>
      <option value="Retired">Retired</option>
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select matNativeControl required>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
  </div>
  <div>
    <label>Duration:</label>
    <input type="number" min="1" max="60" />
  </div>

  <div class="F-C">
    <button mat-raised-button color="primary" type="submit" (click)="find()">Find Apprenticeships</button>
  </div>
</div>


  <!-- <div *ngFor="let item of AppArray" class="F-C">
    <div>
      <h3>Name</h3>
      <p>{{ item.name }}</p>
    </div>
    <div>
      <h3>Link</h3>
      <a>{{ item.link }}</a>
    </div>
  </div> -->

    <table #table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Link</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of AppArray">
          <td>{{ item.name }}</td>
          <td>{{ item.link }}</td>
        </tr>
      </tbody>
    </table>

</div>
