.title {
    text-align: left;
}

.reset {
    background: none;
    border: none;
    cursor: pointer;
}

.find {
    width: 210px;
}

.result p {
    margin: 30px 0 0 0;
}

td {
    padding: 10px;
}

th{
    padding: 5px 10px;
    background: var(--color-hover);
    color: var(--color-white);
}

tr:nth-child(even){
  background: #dfebf4;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: var(--color-blue);
}

  @media only screen and (max-width: 700px) {

  }

