<div class="container">
  <h2>Use the fields below to find the apprenticeships</h2>

<form class="route">
  <div>
    <label>Route:</label>
    <select matNativeControl  [(ngModel)]="model.route" name="route">
      <option value="">Any</option>
      <option value="Agriculture, environmental and animal care">Agriculture, environmental and animal care</option>
      <option value="Business and administration">Business and administration</option>
      <option value="Care services">Care services</option>
      <option value="Catering and hospitality">Catering and hospitality</option>
      <option value="Construction">Construction</option>
      <option value="Creative and design">Creative and design</option>
      <option value="Digital">Digital</option>
      <option value="Education and childcare">Education and childcare</option>
      <option value="Engineering and manufacturing">Engineering and manufacturing</option>
      <option value="Hair and beauty">Hair and beauty</option>
      <option value="Health and science">Health and science</option> 
      <option value="Legal, finance and accounting">Legal, finance and accounting</option>
      <option value="Protective services">Protective services</option>
      <option value="Sales, marketing and procurement">Sales, marketing and procurement</option>
      <option value="Transport and logistics">Transport and logistics</option>          
    </select>
  </div>
  <div>
    <label>Status:</label>
    <select matNativeControl [(ngModel)]="model.status" name="status">
      <option value="">Any</option>
      <option value="Development">In development</option>
      <option value="Approved for delivery">Approved for delivery</option>
      <option value="Proposal">Proposal in development</option>
      <option value="Withdrawn">Withdrawn</option>
      <option value="Retired">Retired</option>
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select matNativeControl [(ngModel)]="model.level" name="level">
      <option value="">Any</option>
      <option value="0">0</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
  </div>
  <div>
    <label>Duration:</label>
    <select matNativeControl  [(ngModel)]="model.duration" name="duration">
      <option value="">Any</option>
      <option value="0">0</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="18">18</option>
      <option value="21">12</option>
      <option value="22">22</option>
      <option value="24">24</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="30">30</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="36">36</option>
      <option value="38">38</option>
      <option value="42">42</option>
      <option value="48">48</option>
      <option value="54">54</option>
      <option value="60">60</option>
      <option value="66">66</option>
    </select>
  </div>

  <div class="btns">
    <button mat-stroked-button><input type="reset" class="reset"></button>
    <button mat-raised-button color="primary" type="submit" class="find" (click)="find()">Find Apprenticeships</button>
    <div style="margin-right: 60px;"></div>
  </div>
</form>

<div *ngIf="AppArray.length === 0" class="F-C result">
  <p>Results will show here.</p>
</div>

<section *ngIf="AppArray.length > 0">
    <span>
      <h2 style="margin-top: 10px;">Result</h2>
    </span>
      <span class="title grid">
        <p>Name</p>
        <p>Link</p>
      </span>
    <div>
      <ul *ngFor="let item of AppArray | paginate: { 
        itemsPerPage: 10, 
        currentPage: page,
        totleItems: totalLength}" class="grid">
        <li>{{ item.name }}</li>
        <li> <a [href]="item.link" target="_blank">{{ item.link }}</a> </li>
      </ul>
    </div>
  <pagination-controls style="text-align: right;" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</section>
</div>
